SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="b8:27:eb:d9:fa:cf", NAME="wlan0"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="e8:4e:06:4b:b0:47", NAME="wlan1"

